src/templates/index.pug
include ./components/features/feature.pug
include ./components/book.pug
html(lang="ru")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
    meta(name='viewport' content='width=device-width')
    title
      | Издательство «Фрай, без штанов и Бендер»
    link(rel="stylesheet", href="./css/main.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous")
  body
    .wrapper
      header.main-header
        a(href='#' alt='Фрай, без штанов и Бендер').main-logo__link
          .main-logo__img-wrap
            img(src='./img/logo.png').main-logo__img
        form.form
          .search
            label.search__label
              input(type='text' placeholder="Поиск, скорее всего не работает").search__input
            button(type="submit").search__submit
      main.main
        section.section-intro
          h2.section-title
            | Мы издаем книги — вы их можете не читать
          .main-book
            .main-book__img-wrap
              img(src="./img/book-history.jpg").main-book__img
              .eye
                .eye__watcher
            .main-book__description
              | В топ-100 
              a(href="#")
                | Zoidbergzon.com 
              | в разделах «Это правда было так» и «Когнитивный писсонанс»
          .book__features
            -
              var bender = {
                mod:"bender",
                img: {
                  src: 'img/bender.jpg',
                  alt: 'Бендер'
                },
                text: 'Эта книга доказывает ничтожность человеческой массы.'
              },
              zoidberg = {
                mod:"zoidberg",
                img: {
                  src: 'img/zoidberg.png',
                  alt: 'Доктор Зойдберг'
                },
                text: 'В книге чувствуется безысходность и бесполезность'
              },
              binary = {
                mod:"binary",
                img: {
                  src: 'img/binary.png',
                  alt: 'Двоичный код'
                },
                text: 'Книга неправильно переведена на двоичный код'
              },
              magnet = {
                mod:"magnet",
                img: {
                  src: 'img/magnet.png',
                  alt: 'Магнит'
                },
                text: 'В каждой книге магнит, который вытягивает вашу мелочь'
              }
            +feature(bender)
            +feature(zoidberg)
            +feature(binary)
            +feature(magnet)
          button(type="button").btn.btn--buy
            | Купить за жалкие 1 999Z
          .under-btn
            .under-btn__text
              | Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи
            .under-btn__img-wrap
              img(src='img/skraffi.jpg' alt="Скраффи").under-btn__img
        section.section-list
          h2.section-title
            | Самое незаметное издательство
          .section__text.section__text--big.section__text--drag
            | Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.
          +book()
          button(type="button").btn.btn--more
            | Еще несколько книг
        section.section.section--about
          h2.section-title
            | Вы работаете — мы отдыхаем
          .section__text.section__text--big
            | Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.
          h3.section-title.section-title--small
            | История названия
          .section__text.section__text--small
            | Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству  XXI века «Манн, Иванов и Фербер». После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.
          .founders
            ul.founders__list
              -
                var founders = ['fry', 'bender', 'skraffi', 'slizen', 'calculon', 'zapp']
              each founder in founders
                li.founders__item
                  img(class='founders__img' + (founder=='bender' ? ' founders__img--bender' : '') src='img/' + founder + '-founder.jpg')
            h3.section-title.section-title--small
              | Основатели
            .founder
              .founder__name
                | Филип Джей Фрай
              .founder__bio
                p
                  | В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.
                p
                  | Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.
                p
                  | Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в
              h3.section-title.section-title--small
                | Сотрудники
              .founder
                .founder__name
                  | Филип Джей Фрай
                .founder__bio
                  p
                    | В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.
                  p
                    | Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.
                  p
                    | Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в
    footer.main-footer
      img(src="img/bender-footer.png")
    script(src='js/main.js')

index.html

<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header"><a class="main-logo__link" href="#" alt="Фрай, без штанов и Бендер">
          <div class="main-logo__img-wrap"><img class="main-logo__img" src="./img/logo.png"/></div></a>
        <form class="form">
          <div class="search">
            <label class="search__label">
              <input class="search__input" type="text" placeholder="Поиск, скорее всего не работает"/>
            </label>
            <button class="search__submit" type="submit"></button>
          </div>
        </form>
      </header>
      <main class="main">
        <section class="section-intro">
          <h2 class="section-title">Мы издаем книги — вы их можете не читать</h2>
          <div class="main-book">
            <div class="main-book__img-wrap"><img class="main-book__img" src="./img/book-history.jpg"/>
              <div class="eye">
                <div class="eye__watcher"></div>
              </div>
            </div>
            <div class="main-book__description">В топ-100 <a href="#">Zoidbergzon.com </a>в разделах «Это правда было так» и «Когнитивный писсонанс»</div>
          </div>
          <div class="book__features">
            <div class="feature feature--bender">
              <div class="feature__img-wrap"><img class="feature__img" src="img/bender.jpg" alt="Бендер"/></div>
              <div class="feature__text">Эта книга доказывает ничтожность человеческой массы.</div>
            </div>
            <div class="feature feature--zoidberg">
              <div class="feature__img-wrap"><img class="feature__img" src="img/zoidberg.png" alt="Доктор Зойдберг"/></div>
              <div class="feature__text">В книге чувствуется безысходность и бесполезность</div>
            </div>
            <div class="feature feature--binary">
              <div class="feature__img-wrap"><img class="feature__img" src="img/binary.png" alt="Двоичный код"/></div>
              <div class="feature__text">Книга неправильно переведена на двоичный код</div>
            </div>
            <div class="feature feature--magnet">
              <div class="feature__img-wrap"><img class="feature__img" src="img/magnet.png" alt="Магнит"/></div>
              <div class="feature__text">В каждой книге магнит, который вытягивает вашу мелочь</div>
            </div>
          </div>
          <button class="btn btn--buy" type="button">Купить за жалкие 1 999Z</button>
          <div class="under-btn">
            <div class="under-btn__text">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</div>
            <div class="under-btn__img-wrap"><img class="under-btn__img" src="img/skraffi.jpg" alt="Скраффи"/></div>
          </div>
        </section>
        <section class="section-list">
          <h2 class="section-title">Самое незаметное издательство</h2>
          <div class="section__text section__text--big section__text--drag">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</div>
          <div class="book">
            <div class="book__img-wrap"><img class="book__img" src="img/book-test.png" alt=""/></div>
            <div class="book__title">Краткая история почти ничего</div>
            <div class="book__text">Эта книга недоразумение</div>
          </div>
          <button class="btn btn--more" type="button">Еще несколько книг</button>
        </section>
        <section class="section section--about">
          <h2 class="section-title">Вы работаете — мы отдыхаем</h2>
          <div class="section__text section__text--big">Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.</div>
          <h3 class="section-title section-title--small">История названия</h3>
          <div class="section__text section__text--small">Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству  XXI века «Манн, Иванов и Фербер». После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.</div>
          <div class="founders">
            <ul class="founders__list">
              <li class="founders__item"><img class="founders__img" src="img/fry-founder.jpg"/></li>
              <li class="founders__item"><img class="founders__img founders__img--bender" src="img/bender-founder.jpg"/></li>
              <li class="founders__item"><img class="founders__img" src="img/skraffi-founder.jpg"/></li>
              <li class="founders__item"><img class="founders__img" src="img/slizen-founder.jpg"/></li>
              <li class="founders__item"><img class="founders__img" src="img/calculon-founder.jpg"/></li>
              <li class="founders__item"><img class="founders__img" src="img/zapp-founder.jpg"/></li>
            </ul>
            <h3 class="section-title section-title--small">Основатели</h3>
            <div class="founder">
              <div class="founder__name">Филип Джей Фрай</div>
              <div class="founder__bio">
                <p>В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.</p>
                <p>Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
                <p>Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в</p>
              </div>
              <h3 class="section-title section-title--small">Сотрудники</h3>
              <div class="founder">
                <div class="founder__name">Филип Джей Фрай</div>
                <div class="founder__bio">
                  <p>В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.</p>
                  <p>Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
                  <p>Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="main-footer"><img src="img/bender-footer.png"/></footer>
    <script src="js/main.js"></script>
  </body>
</html>
